#checker {
    top: 250px;
    bottom: auto;
    right: 30px;
    position: fixed;
    float: right;
    z-index: 4000;
    cursor: default;
    background-color: white;
    border: 2px solid green;
}

.checker-normal {
    width: 40%;
    min-width: 500px;
    height: auto;
    padding: 10px 20px;
}

.size-button-normal {
    height: 20px;
    width: 30px;
    border: 1px solid green;
    background-color: white;
    color: green;
    float: right;
    margin: -10px -20px 0 -10px;
    padding-left: 8px;
}

.checker-minimize {
    width: 80px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    padding: 0;
    overflow: hidden;
}

.size-button-minimize {
    height: 20px;
    width: 20px;
    border: none;
    background-color: white;
    color: green;
    margin-left: 60px;
}

#items {
    max-height: 300px;
    overflow: auto;
    margin-top: 10px;
}

#checker ul {
    list-style: none;
}

#checker li {
    position: relative;
    padding: 5px 0;
}

#checker .disable {
    color: gray;
}

#checker-toolbar {
    border-top: 1px solid green;
    padding: 5px 0;
    margin-bottom: 5px;
}

#checker-toolbar .toolbar-item {
    height: 25px;
    padding: 0 5px 0 0;
}

.ref-content {
    margin: 0 255px 0 0px;
    display: inline-block;
}

.ref-content-thread {
    margin: 0 40px 0 0px;
    display: inline-block;
}

.ref-reason {
    width: 100px;
    height: 18px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 0;
    display: inline;
    right: 150px;
    left: auto;
    position: absolute;
}

.ref-button {
    height: 18px;
    margin-left: 10px;
    padding: 0 10px;
    right: 0;
    left: auto;
    position: absolute;
    border: solid 1px green;
    text-align: center;
}

#autocheck-button {
    height: 18px;
    margin-left: 10px;
    padding: 0 10px;
    right: 30px;
    left: auto;
    position: absolute;
    border: solid 1px green;
    text-align: center;
    background-color: #fff;
}

#autocheck-button-minimize {
    height: 18px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    right: auto;
    left: 10px;
    border: none;
    margin-top: -20px;

}

.ref-button-shield {
    height: 18px;
    margin-left: 10px;
    padding: 0 10px;
    right: 50px;
    left: auto;
    position: absolute;
    border: solid 1px green;
    text-align: center;
}

.ref-button-readed {
    height: 18px;
    margin-left: 10px;
    padding: 0 10px;
    right: 98px;
    left: auto;
    position: absolute;
    border: solid 1px green;
    text-align: center;
}

.ref-button-thread {
    height: 18px;
    width: 80px;
    margin-right: 10px;
    right: 0;
    left: auto;
    position: absolute;
    border: solid 1px green;
    text-align: right;
}

.ref-days {
    margin-right: 100px;
    right: 0;
    left: auto;
    position: absolute;
    text-align: right;
}
